.listContainer {
    display: flex;
    flex-direction: column;
}

.listWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 85px;
    margin-bottom: 0px;
    border-bottom: .5px solid rgba(255, 255, 255, 0.227);
    gap: 0.5em;
    transition: background 0.2s ease;
    cursor: pointer;
}

.listWrap:first-child {
    border-top: .5px solid rgba(255, 255, 255, 0.626);
}

.listWrap:hover {
    background: rgba(255, 255, 255, 0.182);
}

li:last-child .listWrap {
    border-bottom: none;
}

.trackInfo {
    margin-left: .25em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.rightSide {
    margin-left: auto;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.listWrap:hover .rightSide {
    opacity: 1;
}