.base {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(12.53px) brightness(100%);
    -webkit-backdrop-filter: blur(25.07px);
    transition: transform 0.3s ease;
}

.base:hover {
    transform: scale(1.07);
}

.small {
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: black;
    box-shadow: inset -7.16px 10.74px 45px 10.59px white;
    opacity: 0.5;
    border: 1px solid white;
}

.large {
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: white;
    box-shadow: inset -7.16px 10.74px 45px 28.59px var(--theme);
    opacity: 0.98;
}

.icon {
    width: clamp(40px, 8vw, 80px);
    height: clamp(40px, 8vw, 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .small {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .large {
        width: 80px;
        height: 80px;
        font-size: 32px;
        box-shadow: inset -7.16px 10.74px 45px 20.59px var(--theme);
    }

    .icon {
        width: clamp(30px, 6vw, 60px);
        height: clamp(30px, 6vw, 60px);
    }
}