.home,
.nowPlaying {
    align-self: flex-start;
}

.track {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto-Regular", Helvetica;
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 70%);
    background-clip: text;
    color: transparent;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.50px;
    width: 100%;
    margin-bottom: 0;
}

.artist {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.50px;
    margin-top: 10px;
}