.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.wrapper:hover {
    cursor: pointer;
}

.wrapper p {
    padding-right: 1em;

}

.home,
.nowPlaying,
.playlists {
    position: fixed;
    right: 0;
    bottom: 1em;
    right: 40px;
}

.profile {
    display: none;
}