.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.wrapper:hover {
    cursor: pointer;
}

.nowPlaying,
.playlists {
    position: fixed;
    right: 0;
    bottom: .5em;
    right: 40px;
}

.profile {
    display: none;
}

@media (max-width: 768px) {

    .nowPlaying,
    .playlists {
        font-size: x-small;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
}