.meta {
    font-size: 1em;
}

.bigTitle {
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 0.1px;
    margin-top: 1.5em;
    font-family: "Roboto", sans-serif;
}

.bigArtist {
    font-size: 1em;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    line-height: 1;
}

.smallTitle {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    letter-spacing: 0.5px;
    line-height: 0.3;
}

.smallArtist {
    font-family: "Roboto", sans-serif;
    font-size: .7em;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1;
}

.label {
    font-size: .8em;
    font-weight: 700;
    opacity: .85;
}

.playlistTitle {
    font-size: 1.5em;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

.playlistUnderTitle {
    font-size: 1em;
    font-weight: 200;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}