.image {
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: -5.29637336730957px -5.29637336730957px 33.10233688354492px 0px rgba(255, 255, 255, 0.159), 7.564516544342041px 7.564516544342041px 37.82257843017578px 6.051612854003906px rgba(0, 0, 0, 10%), -7.564516544342041px 7.564516544342041px 37.82257843017578px 0px rgba(0, 0, 0, 10%);
    opacity: .9;
    border: .5px solid transparent;
    background:
        linear-gradient(225deg, white 0%, transparent 20%) border-box;
    ;
    transition: transform 0.3s ease;
    width: 20em;
    height: 23em;
}

.image:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.imageWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 20em;
    height: 23em;
}

.typeWrapper {
    position: absolute;
    bottom: 0;
    left: 15px;
    padding: 0em 1em;
    width: 100%;
}

.underTitle {
    margin-bottom: -10px;
}

.iconWrapper {
    position: absolute;
    font-size: 1.5em;
    color: white;
    top: 15px;
    left: 5px;
    width: fit-content;
    cursor: pointer;
}

.hideIconWrapper {
    position: absolute;
    top: 0;
    display: none;
}

.input {
    background: transparent;
    border: none;
    font-size: 1.5em;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    width: 80%;
    outline: none;
    padding: 0;
    margin: 0;
    line-height: 1.85;
    display: block;
}

@media (max-width: 768px) {
    .image {
        width: 10em;
        height: 13em;
    }

    .imageWrapper {
        width: 10em;
        height: 13em;
    }

    .typeWrapper {
        position: absolute;
        bottom: -10px;
        left: 0;
        padding: 0em .75em;
        width: 100%;

    }

    .input {
        font-size: 1.12em;
        line-height: 1.3;
        padding: 0;
    }
}