.playlists .iconWrap,
.playlists span {
    display: none;
}

.playlists {
    display: flex;
    justify-content: flex-end;
    align-items: start;
}

.playlists .image {
    width: 280px;
    height: 280px;
    flex-shrink: 0;
    display: flex;
    margin-left: auto;

}

.cardContainer {
    display: flex;
    flex-direction: column;
}

.flexWrap {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.year {
    font-size: small;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto-Regular", Helvetica;
    background-clip: text;
    color: transparent;
    margin-left: auto;
    padding-bottom: 5px;
}

.image {
    width: 500px;
    object-fit: cover;
    height: 500px;
    flex-shrink: 0;
    border-radius: 5px;
    box-shadow: -5.29637336730957px -5.29637336730957px 33.10233688354492px 0px rgba(255, 255, 255, 20%), 7.564516544342041px 7.564516544342041px 37.82257843017578px 6.051612854003906px rgba(0, 0, 0, 20%), -7.564516544342041px 7.564516544342041px 37.82257843017578px 0px rgba(0, 0, 0, 20%);
    opacity: .9;
    transition: transform 0.3s ease;
    border: .5px solid transparent;
    background:
        linear-gradient(225deg, white 0%, transparent 20%) border-box;
    ;
    cursor: pointer;
}

.image:hover {
    transform: scale(1.006);
}

.iconWrap {
    font-size: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: -28px;
    margin-left: -30px;
}

.icon {
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}


.nowPlaying .imageWrap {
    position: relative;
    display: inline-block;
}

@media (max-width: 768px) {

    .nowPlaying .year {
        display: none;
    }

    .nowPlaying .flexWrap {
        justify-content: center
    }

    .nowPlaying .iconWrap {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        font-size: 24px;
    }

    .icon {
        color: #fff;
    }

    .nowPlaying .image {
        width: 300px;
        height: 300px;
    }

    .playlists .image {
        width: 100px;
        height: 100px;
    }
}