.cardContainer {
    width: 480px;
    position: relative;
}

.year {
    opacity: .7;
}

.image {
    width: 100%;
    object-fit: cover;
    height: 450px;
    border-radius: 15px;
    box-shadow: -5.29637336730957px -5.29637336730957px 33.10233688354492px 0px rgba(255, 255, 255, 20%), 7.564516544342041px 7.564516544342041px 37.82257843017578px 6.051612854003906px rgba(0, 0, 0, 20%), -7.564516544342041px 7.564516544342041px 37.82257843017578px 0px rgba(0, 0, 0, 20%);
    opacity: .9;
}

.iconWrap {
    top: 1.3em;
    right: -2em;
    font-size: 20px;
    position: absolute;
}

.track {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto-Regular", Helvetica;
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 70%);
    background-clip: text;
    color: transparent;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.50px;
    width: 100%;
    margin-bottom: 0;
    margin-left: 2px;
}

.artist {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.50px;
    margin-top: 10px;
    margin-left: 2px;
}