.mainWrap {
    display: flex;
    flex-direction: row;
}

.firstCol {
    width: fit-content;
}

.secondCol {
    border: 1px solid black;
    width: fit-content;
    align-items: center;
    margin-top: auto;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1em;
}