.container {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 2em;
    bottom: 5em;
    right: 40px;
}

.rightSide {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-self: flex-start;
}