:root {
    font-family: "Tilt Neon", sans-serif;
}

a.active {
    color: white !important;
    background-color: black;
}

@keyframes zoomIn {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.25);
    }
}