:root {
    font-family: "Roboto", sans-serif;
}

a:global(.active) p {
    color: #eee;
}

ul {
    padding-inline-start: 0px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

@keyframes zoomIn {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.25);
    }
}