.container {
    display: flex;
    flex-direction: row;
}

.playlists {
    align-self: flex-end;
    margin-left: auto;
    gap: 2em;
    align-items: center;
}

.nowPlaying,
.home {
    align-self: flex-start;
}

.home,
.nowPlaying {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.home .info,
.nowPlaying .info {
    margin-right: auto;
}

.home .controls,
.nowPlaying .controls {
    margin-right: 25px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 1em;
}